   <h1>GROUPS</h1>
 <form action="/grcreadm" method="POST" id="form">
    <h2>Create New Group</h2>

    <label for="groupName">Group Name</label>
    <input type="text" name="groupName">

    <label for="groupDescription">Group Description</label>
    <input type="text" name="groupDescription"> 

    <button type="submit">Create</button>
  
</form>

<form action="/grlistadm" method="GET">
     <button type="submit">BACK TO GROUPS</button>
</form>
