   <h1>GROUPS</h1>
 <form action="/grcreadm" method="POST" id="form">
    <h2>Create New Group</h2>

    <label for="adminName">Admin Name</label>
    <input type="text" name="adminName">

    <label for="adminSurname">Admin Surname</label>
    <input type="text" name="adminSurname">

    <label for="groupName">Group Name</label>
    <input type="text" name="groupName">

    <label for="groupDescription">Group Description</label>
    <input type="text" name="groupDescription"> 

    <button type="submit">Create</button>

</form>

