{{!-- isAdmin = true --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We come from grlistadm.hbs with _id.Group so we can render all the info --}}
{{!-- Table = group --}}

<h1>GROUP DETAILS</h1>

{{!-- Show message "Group updated" / "Group created" --}}
<form action="/grdetadm/{{groupDet._id}}" method="POST"> 
    <h2>Update Group</h2>

    <label for="groupName">Group Name</label>
    <input type="text" name="groupName" value="{{groupDet.groupName}}">

    <label for="groupDescription">Group Description</label>
    <input type="text" name="groupDescription" value="{{groupDet.groupDescription}}"> 

    <button type="submit">Update</button>
</form>  

<form action="/grlistadm" method="GET">
    <button type="submit">BACK TO GROUPs</button>
</form>    
