{{!-- isAdmin = true --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We have all Groups for an _id.People in the token, we render Groups with 
idAdmin.Group === _id.People --}}
{{!-- Table = group --}}

<h2 class="h2-class">GROUP EXCURSIONS 
    <br>
    (admin)
</h2>
    <form class="form-create" action="/grcreadm" method="GET">
            <button class="button-create" type="submit">CREATE NEW GROUP</button>
        </form>     
{{#each groupListAdmin}}
<div class="container-list">
    <div class="list-row">
        <p class="p-title">{{this.groupName}}</p>
        <p class="p-descrip">{{this.groupDescription}}</p>
    </div>
    <div class="addremovemeet"></div>
        <form action="/melistadm/{{this._id}}" method="GET">
            <button type="submit" class="button-addremove">MEET UPS</button>
        </form>
        <form action="/grdetadm/{{this.id}}" method="GET">
            <button type="submit" class= "button-editdetails">EDIT</button>
        </form>   
    </div>

     <div class="b">  
        {{/each}}

    
    </div>
</div>


