{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We keep the token with all info except password (_id is a must, isAdmin, idGroup and idMeeup) --}}

<form action="/login" method="POST" id="form" class="login">
    <h2>Login</h2>

    <label for="email">Email</label>
    <input type="text" name="email" class="login-input">

    <label for="password">Password</label>
    <input type="password" name="password" class="login-input"> 

    <button class="submit">Sign in</button>

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <p class="account-message"> Don't have an account? <a href="/signup">Sign up</a>
    </p>
</form>