 <h1>EXCURSIONS</h1>
 <form action="/mecreadm/{{idGroup}}" method="POST" id="form">
    <h2>Create New Excursion</h2>

    <label for="name">Meet Up Name</label>
    <input type="text" name="name">

    <label for="description">Meet Up Description</label>
    <input type="text" name="description">

    <label for="date">Date</label>
    <input type="date" name="date">

    <label for="time">Time</label>
    <input type="time" name="time">

    <label for="country">Country</label>
    <input type="text" name="country">
     
    <label for="city">City</label>
    <input type="text" name="city">

    <label for="zipcode">Zipcode</label>
    <input type="text" name="zipcode">

    <label for="adress">Adress</label>
    <input type="text" name="address">

    <label for="adressnum">Adress Number</label>
    <input type="text" name="addressnum">

    <button type="submit">CREATE</button>

</form>

{{!-- Andreu-changes-for-map-start --}}

<div id="map">
</div>
<h3>Code</h3>
<p>
    The <code>map.setCenter()</code> method and <code>map.setZoom() </code>method are able to control the location of the map.<br>
</p>

{{!-- Andreu-changes-for-map-end --}}

<form action="/melistadm/{{idGroup}}" method="GET">
    <button type="submit" class="button-backto">BACK TO EXCURSIONS</button>
</form>   
<script type="text/javascript" src='../../public/javascripts/map.js'></script>
