{{!-- isAdmin = true --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We come from grlistadm.hbs. We have all Meetups for an _id.Group by comparing 
_id.Group === idGroup.Meetup (unique, not array). --}}
{{!-- Table = meetup --}}

<h2>EXCURSIONS ADMIN (Group name: {{groupName}})</h2>

{{#each meetupListAdmin}}
    <div class="meetup_list_admin">
        <p>{{this.name}}</p>
        <form action="/medetadm/{{this._id}}" method="GET">
            <button type="submit" class="button-editdetails">EDIT</button>
        </form>
    </div>
{{/each}}
<form action="/mecreadm/{{idGroup}}" method="GET">
            <button type="submit">CREATE</button>
</form>    

<form action="/grlistadm" method="GET">
     <button type="submit" class="button-backto">BACK TO GROUPS</button>
</form>  