{{!-- isAdmin = true --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We come from grlistadm.hbs. We have all Meetups for an _id.Group by comparing 
_id.Group === idGroup.Meetup (unique, not array). --}}
{{!-- Table = meetup --}}

<h2>EXCURSIONS 
    </br>
    (admin)  
    </br>
    </br>
    GROUP NAME: {{groupName}}</h2>
    </br>
    <form class="form-create" action="/mecreadm/{{idGroup}}" method="GET"">
            <button class="button-create" type="submit"> CREATE NEW EXCURSION </button>
        </form>    


{{#each meetupListAdmin}}
<div class="container-list">

    <div class="list-row">
        <p class="p-title">{{this.name}}</p>
    </div>

    <div class="button-edit">
        <form action="/medetadm/{{this._id}}" method="GET">
            <button type="submit" class="button-editdetails">EDIT</button>
        </form>
    </div>
    
</div>

     
    {{/each}}
    
        
    

<form action="/grlistadm" method="GET">
     <button type="submit" class="button-backto">BACK TO GROUPS</button>
</form>  