{{!-- isAdmin = false --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We come from grlistus.hbs. We have all Meetups for an _id.People in the token, 
we list first idMeetups and later other Meetups --}}
{{!-- Table = meetup --}}

<h1>EXCURSIONS USER 
    </br>
    (Group name: {{groupName}})</h1>
</br>
<h2>List of excursions:</h2>

{{#each meetupList}}
<div class="container-list">
    <div class="list-row">
        <p class="title">{{this.name}}</p>
    </div>
    <div class="buttons-addremovemeet">
        <form action="/medetus/{{this._id}}" method="GET">
            <button type="submit" class="button-editdetails">DETAILS</button>
        </form>
    </div>
        
</div>    
{{/each}}

<form action="/grlistus" method="GET">
     <button type="submit" class="button-backto">BACK TO GROUPS</button>
</form>  