{{!-- isAdmin = true --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We come from grlistadm.hbs. We have all Meetups for an _id.Group by comparing 
_id.Group === idGroup.Meetup (unique, not array). --}}
{{!-- Table = meetup --}}

<h1>EXCURSIONS</h1>

{{!-- In JS class we have to take the idGroup and read the Group name
passing it here. So replace this.idPeople for Group name --}}
<h2>List of excursions (for group {{Group name}}):</h2>

{{#each meetups}}
    <div class="meetup_list_admin">
        <p>{{this.name}}</p>
        <form action="/medetus/{{this._id}}" method="GET">
            <button type="submit">EDIT</button>
        </form>
    </div>
{{/each}}

<div>
    <form action="/melistadm/previous/" method="GET">
            <button type="submit">Previous</button>
        </form>
        <form action="/melistadm/next/" method="GET">
            <button type="submit">Next</button>
        </form>
</div>

<form action="/medetadm" method="GET">
            <button type="submit">CREATE</button>
</form>     

<form action="/grlistadm/{{this.idGroup}}" method="GET">
     <button type="submit">BACK TO GROUPS</button>
</form>  