{{!-- isAdmin = false --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We come from grlistus.hbs. We have all Meetups for an _id.People in the token, 
we list first idMeetups and later other Meetups --}}
{{!-- Table = meetup --}}

<h1>EXCURSIONS USER (Group name: {{groupName}})</h1>

<h2>List of excursions:</h2>

{{#each meetupList}}
    <div class="meetup_list_user">
        <p>{{this.name}}</p>
        <form action="/medetus/{{this._id}}" method="GET">
            <button type="submit">DETAILS</button>
        </form>                
    </div>
{{/each}}

<form action="/grlistus" method="GET">
     <button type="submit">BACK TO GROUPS</button>
</form>  