
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/annabackgr.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #3f4146;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #3F4146;
  font-family: Tahoma, sans-serif, Times, serif;
}


a {
  color: #fff;
}

a:hover{
  text-decoration: none;
  color: #3f4146;
}


h1 {
font-family: optima;  
font-size: 8%;
}

h2 {
font-family: optima;
font-size: 1.1rem;
margin-top: 2.1rem;
opacity: 80%;
}

h6 {
  font-family: optima; 
  color: #3F4146;
  font-size: 0.8rem;
  opacity: 60%;
  }


.button-home {
  background-color: #897C68;
  border-radius: 2rem;
  font-family: optima;
  width: 5rem;
  opacity: 80%;
  margin: 1rem;
  padding: 0.8rem;

}

#form {
  margin: 0px auto;
  width: 30%;
  padding: 1rem;
  background-color: #897C68;
  border-radius: 2rem;
  opacity: 80%;
  font-weight: 500;
}

.login {
  margin: 0px auto;
  width: 30%;
  padding: 1rem;
  background-color: #897C68;
  border-radius: 2rem;
  opacity: 70%;
}

.login-input {
 border-radius: 2rem;
}

.submit{
  border-radius: 2rem;
  width: 50%;
  color: #6E6A6A;
}

.submit:hover{
  color: white;
  transition-duration: 4s;
}

#form h2 {
  margin-bottom: 30px;
  text-align: center;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #8a8e91;
  border: 1px solid #8a8e91;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

#form button:hover {
  background: #3f4146;
  color: #fff;
  transition: 0.3s ease background;
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}


nav {
  
  font-family: optima;
  

}

nav .wrapper{
  padding-left: 50px;
}

nav .wrapper a{
  text-transform: uppercase;
  color: #3f4146;
  text-decoration: none;
  padding: 10px;
  opacity: 80;
}

nav .wrapper a:hover{
  color: white;
  opacity: 90%;
}

.container-list{
  align-items: center;
  justify-content: center;
  border: 0.5px solid #CBCCCB;
  display: flex;
  flex-direction: row;
 
  
}

.addremovemeet {
  display: inline-flex;
  flex-direction: row;
 

  

}
.list-row {
  background: #CBCCCB;
  border-radius: 5px;
  text-align: left;
  text-justify: center;
  border: 1px #6E6A6A;
  opacity: 85%;
  margin: 2%;
  padding: 1%;
  width: 70%;


  
}
p {
  margin: 1rem;
}

.p-title {
  font-size: 110%;
  font-weight: 600;
  opacity: 70%;
  font-family: inherit;
  color: #3f4146;
  
}

.p-descrip {
 font-size: 90%;
 color: #897C68;
 font-weight: 500;
}

.nav-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  width: 60%;
  margin-top: 5rem;
}

.wrapper > a {
  display: flex;
  justify-content: right;
  width: 33%;
  font-size: 1.2rem;
}

.h1-class {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  margin-bottom: 10%;
}

.form-create {
  display: flex;
  margin: 2%;
  vertical-align: middle;
  font-size: 1.6rem;
  justify-content: space-around;
}

.button-create {
  border-radius: 10rem;
  background-color: #897C68;
  border-style: none;
  padding: 2%;
  font-size: 0.7rem;
  font-family: optima;
  font-weight: 100;
  color: white;
  display: flex;
  opacity: 90%;
}
.button-create:hover{
color: #897C68;
background-color: white;
transition-duration: 0.4s;
}

.button-addremove {
  background-color: #897C68; 
  border: none;
  border-radius: 10rem;
  color: white;
  padding: 0.7rem 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button-addremove:hover {
  background-color: white;
  color: #6E6A6A;
}

.button-editdetails { 
  background-color: #6E6A6A; 
  border: none;
  border-radius: 0.9rem;
  color: white;
  padding: 0.7rem 0.7rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 0.8rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button-editdetails:hover{
background-color: white;
color: #897C68;
}

.button-backto { 
  background-color: #6E6A6A; 
  border: none;
  border-radius: 0.7rem;
  color: #CBCCCB;
  padding: 0.7rem 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2px;
  opacity: 80%;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button-backto:hover{
background-color: #6E6A6A;
color: white;
}

.welcome-message {
  font-size: 0.8rem;
  color: #6E6A6A;
  font-family: optima;
}
/* For PC/Tablet horizontal nav-bar active and dropdown not active. */
.dropdown {
  display: none;
}

.name-form {
  font-family: optima;
  border-radius: 1rem;
  boder-style: none;
}

.updated {
  color: white;
  font-family: optima;

}

.detailwrapper{
  display:flex;
  justify-content: space-around;
  
  
}

#map {
  width: 75%;
  height: 450px;
  background: grey;
  margin-left: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding-right: 5%;
}

.mapa-img{
  vertical-align: middle;
  border-style: none;
  width: 40%;
}
.metdetails0{
  width: 40%;
  background-color: #897C68;
  opacity: 80%;
  border-radius: 2rem;
}
.metdetails {
  margin: 0px auto;
  padding: 1rem;
  background-color: #897C68;
  border-radius: 2rem;
  opacity: 70%;
}
@media only screen and (max-device-width: 414px) { /* For mobile 414px */

  .login {
    margin: 0px auto;
    width: 30%;
    padding: 1rem;
    background-color: #897C68;
    border-radius: 2rem;
    opacity: 70%;
  }
  
  .login-input {
   border-radius: 2rem;
  }

  body {
    padding: 5%;
    height: 70%;
  
    /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  }
  
  .wrapper > a {
    width: 20%;
    display: none;
  }

  .detailwrapper{
    display:block;
    
    
  }

  .mapa-img {
    width: 20%;
    margin: 10px, 20px;
  }
  .metdetails0 {
    width: 80%;
    margin: 0 auto 30px;
  
  }
  .button-home{
    margin: 1.5rem;
    padding: 0.8rem;
  }
  .btn {
    color: black;
    background-color: #cdc9c3;
    font-size: 1.2rem;
  }
  
  .dropdown {
    display: block;
    /* padding-right: 10%; */
  }

  .div-dropdown {
    margin-top: 5%;
  }

  .dropdown-menu, .dropdown-item {
      background-color: #cdc9c3;
      font-size: 1.2rem;
  }

  .logo {
    vertical-align: middle;
    background-size: auto;
    opacity: 90%;
    /* margin-right: 55%; */
  }

  .h1-class, .form-create {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
  }  

  .form-create {
    margin: 1rem;
    display: flex;
    vertical-align: middle;
  }

  .div-bottom {
    margin-top: 1rem;
  }
 

 

  #form.login {
    width: 70%;
    font-family: 100%;
  }

/*para background responsive */
@media only screen and (max-device-width: 767px) {
    body {
         background-image: url(../images/annabackgr.jpg);
         color: #3F4146;
         
    }
    #form.login {
      width: 70%;
      font-family: 100%;
    }
    

@media only screen and (max-width: 767px) {
    body {
         background-image: url(../images/annabackgr.jpg);
         color: #3F4146;
     }
 }

}
}