
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/annabackgr.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #3f4146;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #3F4146;
  font-family: Tahoma, sans-serif, Times, serif;
}


a {
  color: #00b7ff;
}


h1 {
font-family: optima;  
font-size: 8%;
}

h2 {
font-family: optima;
}

h3 {
  font-family: Love ya like a sister; 
  color: #3F4146;
  font-size: 1.5rem;
  }

#form {
  margin: 50px auto;
  /* width: 380px; */
  width: 80%;
}

#form h2 {
  margin-bottom: 30px;
  text-align: center;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}


nav {
  /* background: #262626; */
  padding: 25px 0;
  font-family: serif;
  

}

nav .wrapper{
  padding-left: 50px;
}

nav .wrapper a{
  text-transform: uppercase;
  color: #262626;
  text-decoration: none;
  padding: 0 10px;
  opacity: 90;
}

nav .wrapper a:hover{
  color: white;
  opacity: 1;
}

.container-list{
  align-items: center;
  justify-content: center;
  border: 0.5px solid #CBCCCB;
  display: flex;
  
}

.buttons-addremovemeet {
  display: block;
  flex-direction: row;
  width: 15%;

  

}
.list-row {
  background: #CBCCCB;
  border-radius: 5px;
  text-align: left;
  text-justify: center;
  border: 1px #6E6A6A;
  opacity: 85%;
  margin: 2%;
  padding: 1%;
  width: 80%;

  
}
p {
  margin: 1rem;
}

.p-title {
  font-size: 1.4 rem;
  color: #3f4146;
  font-weight: 500;
  opacity: 100%;
}

.p-descrip {
 font-size: 90%;
 color: #6E6A6A;
}

.nav-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  width: 50%;
}

.wrapper > a {
  display: flex;
  justify-content: right;
  width: 33%;
  font-size: 1.5rem;
}

.h1-class, .form-create, .button-create {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  margin-bottom: 10%;
}

.form-create {
  margin: 10% 2%;
  display: flex;
  vertical-align: middle;
}

.button-create {
  border-radius: 10rem;
  border-width: 1rem;
  background-color: #CBCCCB;
  margin: 10%;
  padding: 2%;
  font-size: 1.1rem;
  font-family: cinzel;
  display: flex;
}
.button-create:hover{
color: #897C68;
}

.button-addremove {
  background-color: #897C68; 
  border: none;
  border-radius: 10rem;
  color: white;
  padding: 0.7rem 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button-addremove:hover {
  background-color: #6E6A6A;
  color: white;
}

.button-editdetails { 
  background-color: #6E6A6A; 
  border: none;
  border-radius: 0.9rem;
  color: white;
  padding: 0.7rem 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button-editdetails:hover{
background-color: #897C68;
color: white;
}

.button-backto { 
  background-color: #6E6A6A; 
  border: none;
  border-radius: 0.7rem;
  color: #CBCCCB;
  padding: 0.7rem 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2px;
  opacity: 80%;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button-backto:hover{
background-color: #6E6A6A;
color: white;
}

/* For PC/Tablet horizontal nav-bar active and dropdown not active. */
.dropdown {
  display: none;
}



@media (max-width: 414px) { /* For mobile 414px */

  body {
    padding: 5%;
    /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  }
  
  .wrapper > a {
    width: 20%;
    display: none;
  }

  .btn {
    color: black;
    background-color: #cdc9c3;
    font-size: 1.2rem;
  }
  
  .dropdown {
    display: block;
    /* padding-right: 10%; */
  }

  .div-dropdown {
    margin-top: 5%;
  }

  .dropdown-menu, .dropdown-item {
      background-color: #cdc9c3;
      font-size: 1.2rem;
  }

  .logo {
    height: 30%;
    width: 30%;
    /* margin-right: 55%; */
  }

  .h1-class, .form-create, .button-create {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
  }  

  .form-create {
    margin: 10% 2%;
    display: flex;
    vertical-align: middle;
  }

  .button-create {
    margin: 10%;
    padding: 2%;
    font-size: 1.2rem;
    display: flex;
  }

  
/*para background responsive */
@media only screen and (max-device-width: 767px) {
    body {
         background-image: url(../images/annabackgr.jpg);
         color: #3F4146;
    }
  }
@media only screen and (max-width: 767px) {
    body {
         background-image: url(../images/annabackgr.jpg);
         color: #3F4146;
     }
 }

}
